@import "tailwindcss";

@theme {
  --color-AakashSky: #C3EBFA;
  --color-AakashSkyLight: #EDF9FD;
  --color-AakashPurple: #CFCEFF;
  --color-AakashPurpleLight: #F1F0FF;
  --color-AakashYellow: #FAE27C;
  --color-AakashYellowLight: #FEFCE8;
}